[flake8]
max-line-length: 120
docstring-convention = google
ignore =
    # Allow continuation line under-indented for visual indent.
    E128,
    # line contains XXX.
    T102,
    # Missing docstring in magic method.
    D105,
    # Missing docstring in __init__.
    D107,
    # Missing "Returns" in Docstring.
    DAR201,
    # 1 blank line required between summary line and description.
    D205,
    # Multi-line docstring summary should start at the first line.
    D212,
    # The docstring is missing an exception raised.
    DAR401,
    # The docstring describes an exception not explicitly raised.
    DAR402,
    # Line break after the binary operator
    W503,
    W504,
    # Docstrings for public modules and packages
    D100,
    D104,
    # Ignore multiple statements on one line
    E704,
per-file-ignores =
    tests/*:D100,D101,D102,D103,D104
    __init__.py:F401
    src/bartiq/analysis/rewriters/sympy_rewriter.py:E731
